/* BlogPost.css */
/* consider making these into styled-components */

.blog-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
}

.image-container img {
}
